apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

namePrefix: adidas-

commonLabels:
  sportsclaw-user: adidas

configMapGenerator:
  - name: sportsclaw-config
    namespace: sportsclaw
    envs:
      - config.env

secretGenerator:
  - name: sportsclaw-secrets
    namespace: sportsclaw
    envs:
      - secrets.env
    type: Opaque

patches:
  - target:
      kind: Deployment
      name: sportsclaw-relay
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/image
        value: machinasports/sportsclaw-relay:v0.9.0
